fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
python-multipart
pydantic[email]
ultralytics
celery[redis]
redis
torch
torchvision
Pillow
timm
"numpy<2"
